{% extends "base.html" %}

{% block content %}

<!-- header -->
<div class="flex justify-between text-sm text-gray-700">
    <div class="flex items-center">
        <a class="block p-3">About</a>
        <a class="block p-3">Store</a>
    </div>
    <div class="flex items-center">
        <a class="block p-3">Gmail</a>
        <a class="block p-3">Images</a>
        <img class="rounded-full block py-3 px-4"
            src="https://lh3.googleusercontent.com/ogw/ADGmqu_ce-FbTS3WQ_bdXJUkk3rRQ0shFfsCiWib6rrE=s32-c-mo" />
    </div>
</div>

<!-- main -->
<div class="flex justify-center pt-20">
    <div>
        <img class="w-2/3 ml-auto mr-auto mb-5"
            src="https://upload.wikimedia.org/wikipedia/commons/thumb/2/2f/Google_2015_logo.svg/368px-Google_2015_logo.svg.png" />
        <div class="flex border border-gray-200 rounded-full py-2 px-4 shadow w-full text-xl">
            <div>🍏</div>
            <input type="search" class="w-full outline-none px-3" />
            <div>💖</div>
        </div>
        <div class="mt-8 text-center">
            <button
                class="mr-3 bg-gray-200 border border-gray-300 py-3 px-4 rounded hover:bg-gray-400 hover:border-gray-500">Google
                Search</button>
            <button
                class="ml-3 bg-gray-200 border border-gray-300 py-3 px-4 rounded hover:bg-gray-400 hover:border-gray-500">I'm
                Feeling Lucky</button>
        </div>
    </div>
</div>

<!-- footer -->
<div class="fixed bottom-0 bg-gray-200 border-t w-full flex justify-between text-gray-600 text-xm">
    <div class="flex">
        <a class="block p-3">Advertising</a>
        <a class="block p-3">Business</a>
        <a class="block p-3">How Search Works</a>
    </div>
    <div class="flex">
        <a class="block p-3">Privacy</a>
        <a class="block p-3">Terms</a>
        <a class="block p-3">Settings</a>
    </div>
</div>

{% endblock content %}